.preview-map {
  background-image: url(./../../public/images/preview-map.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.preview-logo {
  background-image: url(./../../public/images/logo.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.profilePreview {
  background-image: url(./../../public/images/profilePreview.png);
  background-repeat: no-repeat;
  background-size: cover;
}