.mainHeader {
  background-image: url(/images/headerImage2.png);
  background-size: cover;
  position: relative;
}

.mainHeader::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.social-media-section {
  background: #fafafa;
  background: linear-gradient(135.12deg, #f8d754 24.95%, #fff5cf 193.21%);
  /* box-shadow: 0 1px 8px rgba(0,0,0,.1); */
  /* padding-bottom: 100px; */
  z-index: 1;
  position: relative;
}

.social-media-section h1 {
  font-family: sans-serif;
  font-weight: normal;
  font-size: 25px;
  letter-spacing: 4px;
  padding: 100px 0 50px;
  color: #555;
  text-align: center;
}

.social-media-section .Social-media {
  display: flex;
  justify-content: center;
}

.social-media-section a {
  display: flex;
  background: linear-gradient(135.12deg, #f8d754 24.95%, #fff5cf 193.21%);
  height: 65px;
  width: 65px;
  margin: 0 15px;
  border-radius: 8px;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
    -6px -6px 10px -1px rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(0, 0, 0, 0);
  transition: transform 0.5s;
}

.social-media-section a i {
  font-size: 30px;
  color: #363535;
  transition: transform 0.5s;
}

.social-media-section a:hover {
  box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
    inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7),
    -0.5px -0.5px 0px -1px rgba(255, 255, 255, 1),
    0.5px 0.5px 0px rgba(0, 0, 0, 0.15), 0px 12px 10px -10px rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(255, 0, 0, 0.1);
  transform: translateY(2px);
}

.social-media-section a:hover i {
  transform: scale(0.9);
}

.social-media-section a:hover .fa-facebook {
  color: #3b5998;
}

.social-media-section a:hover .fa-telegram {
  color: #00acee;
}

.social-media-section a:hover .fa-whatsapp {
  color: #4fce5d;
}

.social-media-section a:hover .fa-instagram {
  color: #f14843;
}

.social-media-section a:hover .fa-youtube {
  color: #f00;
}
