@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Kaisei+Decol:wght@400;700&family=Poppins:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", sans-serif;
}

@font-face {
  font-family: 'Albra';
  src: url(/fonts/AlbraBold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: 'Albra';
  src: url(/fonts/AlbraBookTRIAL-Semi.otf);
  font-weight: 600;
}
@font-face {
  font-family: 'Joane';
  src: url(/fonts/Joane-Black.ttf);
  font-weight: 700;
}

.about-us-header {
  background-image: url(/images/aboutUsHeader.png);
  background-size: cover;
}

.contactUs-header {
  background-image: url(/images/header.png);
  background-size: cover;
}

.gallery-header {
  background-image: url(/images/header.png);
  background-size: cover;
}

.businessFirms-header {
  background-image: url(/images/businessFirms.png);
  background-size: cover;
}

.sectionHeader {
  background-image: url(/images/sectionHeader2.png);
  background-size: cover;
}
.navbarImage {
  background-size: cover;
  
}