.contactUs {
  background-image: url('https://images.unsplash.com/photo-1521780171415-783b1cb576e7?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1528&q=80');
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
