.enlist-company {
  background-image: url(./../public/images/enlist-company.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.enlist-individual {
  background-image: url(./../public/images/enlist-individual.png);
  background-repeat: no-repeat;
  background-size: cover;
}
